.header {
  display: flex;
  flex-direction: row;
  height: 3rem;
  background-color: rgb(42, 35, 48);
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-image: url("../assets/PC-Burn.png");
  background-size: cover;
  background-position-x: 50%;
  background-position-y: center;
  text-align: center;
  width: 100%;
}
.backImage {
  max-height: 48rem;
}
.footer {
  height: 3rem;
  background-color: black;
  color: white;
}
.footerText {
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.greyBox {
  background-color: rgb(175, 166, 177, 0.7);
  width: 60%;
  height: 50%;
  margin-top: 2rem;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 20px 20px;
  text-align: left;
}
.button {
  padding: 10px 20px;
  border: none;  
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  transition: 0.5s;
  transition-property: box-shadow;
  width: 170px;
  height: 100%;
  cursor: pointer;
  background: rgb(0,140,255);
  box-shadow: 0 0 25px rgb(0,140,255);
}
.button:hover{
  box-shadow: 0 0 5px rgb(0,140,255),
  0 0 25px rgb(0,140,255),
  0 0 50px rgb(0,140,255),
  0 0 100px rgb(0,140,255)
}
