@font-face {
  font-family: "OpenSans-BoldItalic";
  src: local("OpenSans-BoldItalic"), url(../Fonts/OpenSans-BoldItalic.ttf);
}

html,
body {
  height: 100%;
  background-color: #46204f;
}

h1 {
  font-family: "OpenSans-BoldItalic";
}

.main {
  display:flex;
  flex-direction: column;
  margin: 0 4px;
  padding: 20px 5px;
  height: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(175, 166, 177, 1);
  border-radius: 25px;
}

.choice {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px; 
  
}

.img {
  width: 100%;
  border-radius: 25px;
  height:500px;

}

.button {
  padding: 10px 20px;
  border: none;  
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  transition: 0.5s;
  transition-property: box-shadow;
  width: 170px;
  height: 100%;
  cursor: pointer;
  background: rgb(0,140,255);
  box-shadow: 0 0 25px rgb(0,140,255);
}
.button:hover{
  box-shadow: 0 0 5px rgb(0,140,255),
  0 0 25px rgb(0,140,255),
  0 0 50px rgb(0,140,255),
  0 0 100px rgb(0,140,255)
}

p{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
